.my-favorites-parent {
    display: flex;
    width: 100%;

}

.my-favorites-child {
    width: 100%;

}

.card-spacing {
    margin-top: 25px;
}

.center-this {
    margin-top: 7px;
    text-align: center;
}
