.nav {
  display: flex;
  align-items: center;
  background-color: #46626e;
}

/* --------------------------------------------------------------------------------
Spacing and margins for the different links and menu icon in the navbar
-------------------------------------------------------------------------------- */
.nav-child {
  width: 100%;
}

.nav-child-1 {
  padding-left: 18px;
}

.nav-child-2 {
  text-align: center;
}

.nav-child-3, .nav-child-4 {
  justify-content: right;
  align-items: flex-end;
  text-align:end;
}

.nav-child-4 {
  padding-right: 18px;
}

/* --------------------------------------------------------------------------------
Styling for the links themselves and the menu options
-------------------------------------------------------------------------------- */
.navLink {
  color: #f2f2f2;
  text-decoration: none;
}

.navLink-menu {
  color: #413330;
  text-decoration: none;
}



