.nav {
  /* flex box layout */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* text-align: center; */
  /* flex-flow: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #46626e;
  /* overflow: hidden; */
}

.nav a {
  text-decoration: none;
}

.nav-child {
  width: 100%;
}

.nav-child-1 {
  padding-left: 18px;
}

.nav-child-2 {
  text-align: center;
}

.nav-child-3, .nav-child-4 {
  justify-content: right;
  align-items: flex-end;
  text-align:end;
}

.nav-child-4 {
  padding-right: 18px;
}


.navLink {
  /* display: inline-block; */
  color: #f2f2f2;
  background-color: #46626e;
  /* text-align: center; */
  /* padding: 15px 10px; */
  text-decoration: none;


  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0; */
}

.navLink-menu {
  color: #413330;
  text-decoration: none;
  
}

/* .navLink:hover {
  background-color: #79a6b9;
} */

